*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik";
  src: url("./Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Rubik";
  src: url("./Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 600;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik";
  background: black;
  color: white;
  gap: 1em;
  flex-direction: column;
}

h3 {
  text-transform: capitalize;
}

.container {
  display: flex;
  background-image: linear-gradient(180deg, cyan, blue);
  padding: 1em;
  gap: 1em;
  flex-direction: column;
  border-radius: 0.4em;
}

.wrapper {
  border-top: 1px solid white;
  padding-block-start: 1em;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 700px) {
  .container {
    flex-direction: row;
  }

  .wrapper {
    border-top: none;
    border-inline-start: 1px solid white;
    padding-inline: 1em;
    padding-block-start: 0;
  }
}
